@using Diplom.Gamification.Shared
@model ApplicationUser

@{
    Layout = "../Shared/_Layout";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Изображение профиля -->
            <img src="@Model.AvatarLink" alt="Profile Picture" class="profile-picture img-fluid mb-3">
        </div>
        <div class="col-md-8">
            <!-- Информация о пользователе -->
            <h1>Профиль</h1>
            <p><strong>Имя:</strong> @Model.UserName</p>
            <p><strong>Почта:</strong> @Model.Email</p>
            <p><strong>Рейтинг:</strong> @Model.Rating</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <!-- Описание пользователя -->
            <h2>Достижения</h2>
            @for (int i = 0; i < 1; i++)
            {
                <img src="https://cdn-icons-png.flaticon.com/512/4387/4387887.png" alt="Profile Picture" class="achivment-picture img-fluid mb-3">

            }
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <!-- Интересы пользователя -->
            <h2>Настройки</h2>
            <ul>
                <li>Hiking</li>
                <li>Reading</li>
                <li>Photography</li>
            </ul>
        </div>
    </div>
</div>