@using Diplom.Gamification.Shared
@model List<ApplicationUser>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row justify-content-center">
            <div class="col-sm-6">

                @foreach (var item in Model)
                {
                    <div class="list list-row block">
                        <div class="list-item" data-id="19">
                            <div><a href="#" data-abc="true"><span class="w-48 avatar gd-primary"><img src="@item.AvatarLink" alt="."></span></a></div>
                            <div class="flex">
                                <a href="#" class="item-author text-color" data-abc="true">@item.UserName</a>
                                <div class="item-except text-muted text-sm h-1x"></div>
                            </div>
                            <h3 class="d-flex w-100 justify-content-end align-self-end">@item.Rating</h3>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>